html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="text"], input[type="email"], input[type="tel"], textarea { -webkit-appearance: none; border-radius: 0; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

div, input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

body { font-family: Arial, sans-serif; font-size: 12px; line-height: 1.4; }

@font-face { font-family: nexa-light; src: url("fonts/Nexa-Light.eot"); src: url("fonts/Nexa-Light.eot?#iefix") format("embedded-opentype"), url("fonts/Nexa-Light.woff") format("woff"), url("fonts/Nexa-Light.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: nexa-bold; src: url("fonts/Nexa-Bold.eot"); src: url("fonts/Nexa-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/Nexa-Bold.woff") format("woff"), url("fonts/Nexa-Bold.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: FontAwesome; src: url("fonts/fontawesome-webfont.eot"); src: url("fonts/fontawesome-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/fontawesome-webfont.woff") format("woff"), url("fonts/fontawesome-webfont.ttf") format("truetype"); font-weight: normal; font-style: normal; }
.onleft { float: left; }

.onright { float: right; }

.out { position: relative; max-width: 1920px; min-width: 320px; margin: 0 auto; }

.btn { position: relative; display: inline-block; text-transform: uppercase; font-size: 0; color: white; background: url(../img/btn-bg.png) repeat-x; line-height: 46px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.btn:before { content: ""; position: absolute; left: -10px; background: url('../img/icons-s95703a8fd6.png') 0 -111px no-repeat; width: 12px; height: 45px; }
.btn:after { content: ""; position: absolute; right: -10px; background: url('../img/icons-s95703a8fd6.png') 0 -278px no-repeat; width: 12px; height: 45px; }
.btn:hover { background: url(../img/btn-bg-h.png) repeat-x; }
.btn:hover:before { background: url('../img/icons-s95703a8fd6.png') 0 -56px no-repeat; width: 12px; height: 45px; }
.btn:hover:after { background: url('../img/icons-s95703a8fd6.png') 0 -222px no-repeat; width: 12px; height: 46px; }
.btn:hover span:first-child { border-right: 1px solid #f5b74b; }
.btn:hover .fa.fa-play { color: #f09925; }
.btn:active { background: url(../img/btn-bg-active.png) repeat-x; }
.btn:active:before { background: url('../img/icons-s95703a8fd6.png') 0 0 no-repeat; width: 10px; height: 46px; }
.btn:active:after { background: url('../img/icons-s95703a8fd6.png') 0 -166px no-repeat; width: 11px; height: 46px; }
.btn span { padding: 0 10px; font-size: 18px; display: inline-block; vertical-align: middle; font-family: "Nexa-Light", Arial, sans-serif; }
.btn span:first-child { border-right: 1px solid #1d232e; }
.btn .fa.fa-play { padding: 1px; background: white; font-size: 15.5px; color: #0d1018; -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; }
.btn .fa.fa-play:before { margin-left: 3px; }

a { text-decoration: none; }

.ie8 .out { min-width: 1336px; }
.ie8 .header { filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F000000,endColorstr=#7F000000); }
.ie8 .header .header__left:before { display: none; }
.ie8 .btn { line-height: 44px; }
.ie8 .contact .input input { padding-top: 12px; }

.ie .about__txt p { float: left; width: 430px; }
.ie .about__txt p:first-child { margin-right: 30px; }
@media only screen and (max-width: 1024px) { .ie .about__txt p { float: none; width: 100%; } }

.l { *zoom: 1; }
.l:after { content: " "; display: table; clear: both; }
.l .l-col1 { float: left; width: 20%; }
.l .l-col2 { float: right; width: 70%; }

.header { position: fixed; top: 0; width: 100%; max-width: 1920px; margin: 0 auto; background: rgba(0, 0, 0, 0.5); z-index: 200; *zoom: 1; }
.header:after { content: " "; display: table; clear: both; }
@media only screen and (max-width: 830px) { .header { z-index: 300; } }
.header__left { position: relative; width: 100%; max-width: 500px; height: 125px; padding: 5px 40px 0 20px; text-align: right; background: url(../img/header-left_bg.png) repeat; z-index: 2; -moz-box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.4); -webkit-box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.4); box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.4); -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.header__left:after { content: ""; position: absolute; top: 0; right: -40px; background: url('../img/icons-s95703a8fd6.png') 0 -2141px no-repeat; width: 40px; height: 126px; }
.header__left:before { content: ""; position: absolute; top: 0; right: -41px; width: 0px; height: 0px; border-style: solid; border-width: 130px 41px 0 0; border-color: rgba(0, 0, 0, 0.4) transparent transparent transparent; }
@media only screen and (max-width: 1336px) { .header__left { max-width: 300px; padding-top: 20px; } }
@media only screen and (max-width: 600px) { .header__left { max-width: 200px; height: 80px; padding: 10px 5% 0 20px; box-shadow: none; }
  .header__left:before, .header__left:after { display: none; } }
.header__logo { display: inline-block; }
.header__logo img { width: 100%; max-width: 287px; }
@media only screen and (max-width: 1336px) { .header__logo img { max-width: 200px; } }
@media only screen and (max-width: 600px) { .header__logo img { max-width: 100%; } }
.header__top { position: absolute; top: 0; left: 0; right: 0; height: 30px; background: #fba40d; background-image: -moz-linear-gradient(#fdcb61, #fba40d); background-image: -webkit-linear-gradient(#fdcb61, #fba40d); background-image: linear-gradient(#fdcb61, #fba40d); }
.header .nav { width: 100%; max-width: 920px; margin: 0 auto; padding-top: 30px; text-align: center; font-size: 0; }
.header .nav.is-open { display: block; }
.header .nav li { display: inline-block; }
.header .nav li a { position: relative; display: block; padding: 0 35px; text-decoration: none; text-transform: uppercase; color: white; line-height: 95px; font-size: 18px; font-family: "Nexa-Light", Arial, sans-serif; }
.header .nav li a.is-active { font-family: "Nexa-Bold", Arial, sans-serif; }
.header .nav li a.is-active:before { content: ""; position: absolute; top: 0; left: 50%; margin-left: -10px; width: 0px; height: 0px; border-style: solid; border-width: 13px 10px 0 10px; border-color: #fba40d transparent transparent transparent; }
.header .nav li a:hover { -moz-box-shadow: inset 0px -7px 30px 0px #219aa9; -webkit-box-shadow: inset 0px -7px 30px 0px #219aa9; box-shadow: inset 0px -7px 30px 0px #219aa9; }
@media only screen and (max-width: 1024px) { .header .nav { padding-left: 330px; text-align: left; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
  .header .nav li a { padding: 0 20px; } }
@media only screen and (max-width: 830px) { .header .nav { display: none; position: absolute; width: auto; top: 125px; right: 0; padding: 0; text-align: right; background: rgba(0, 0, 0, 0.5); -moz-border-radius: 0 0 5px 5px; -webkit-border-radius: 0; border-radius: 0 0 5px 5px; }
  .header .nav li { display: block; }
  .header .nav li a { line-height: 2; }
  .header .nav li a:before { display: none; } }
@media only screen and (max-width: 600px) { .header .nav { top: 80px; } }
.header .fa.fa-bars { display: none; position: absolute; top: 59px; right: 20px; font-size: 30px; color: white; cursor: pointer; }
@media only screen and (max-width: 830px) { .header .fa.fa-bars { display: block; } }
@media only screen and (max-width: 600px) { .header .fa.fa-bars { top: 39px; } }
.header .language { position: absolute; top: 0; right: 9.89%; font-size: 0; -moz-border-radius: 0 0 15px 15px; -webkit-border-radius: 0; border-radius: 0 0 15px 15px; -moz-box-shadow: 1px 0px 5px 0px black; -webkit-box-shadow: 1px 0px 5px 0px black; box-shadow: 1px 0px 5px 0px black; }
.header .language a { display: inline-block; padding: 6px 5px 6px 5px; text-transform: uppercase; color: black; background: #ffb82c; border-left: 1px solid white; letter-spacing: 1.35px; background-image: -moz-linear-gradient(#fdcb61, #fba40d); background-image: -webkit-linear-gradient(#fdcb61, #fba40d); background-image: linear-gradient(#fdcb61, #fba40d); font-size: 21px; font-family: "Nexa-Light", Arial, sans-serif; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; -moz-border-radius: 0 0 15px 0; -webkit-border-radius: 0; border-radius: 0 0 15px 0; }
.header .language a:first-child { -moz-border-radius: 0 0 0 15px; -webkit-border-radius: 0; border-radius: 0 0 0 15px; }
.header .language a:active { background: #f3ba50; border-left-color: #f3ba50; }
@media only screen and (max-width: 1024px) { .header .language { right: 20px; }
  .header .language a { font-size: 18px; } }
@media only screen and (max-width: 600px) { .header .language a { font-size: 16px; } }

.cycle-wrap { position: relative; width: 100%; min-height: 250px; max-height: 695px; overflow: hidden; }
@media only screen and (max-width: 600px) { .cycle-wrap { padding-top: 30px; } }
.cycle-wrap .cycle-slideshow:first-child { display: block; }
.cycle-wrap .cycle-slideshow a { display: none; }
.cycle-wrap img { width: 100%; height: 100%; min-height: 250px; }

.cycle-prev, .cycle-next { position: absolute; top: 54%; z-index: 250; cursor: pointer; }
@media only screen and (max-width: 600px) { .cycle-prev, .cycle-next { top: 50%; margin-top: -18.5px; } }

.cycle-prev { left: 5.4%; background: url('../img/icons-s95703a8fd6.png') 0 -2390px no-repeat; width: 37px; height: 56px; }

.cycle-next { right: 5.4%; background: url('../img/icons-s95703a8fd6.png') 0 -2324px no-repeat; width: 37px; height: 56px; }

.cycle-pager { position: absolute; width: 100%; bottom: 10px; text-align: center; z-index: 250; }
.cycle-pager span { display: inline-block; font-size: 25px; width: 15px; height: 15px; color: black; cursor: pointer; }
.cycle-pager .cycle-pager-active { color: #f68600; }

.progress-bar { position: absolute; display: block; bottom: 0; height: 4px; background: #f68600; z-index: 250; }

.about { position: relative; width: 100%; max-width: 1920px; height: 646px; margin: 0 auto; background: url(../img/about-bg.jpg) center center no-repeat; }
.about__in { width: 100%; max-width: 920px; padding-top: 165px; margin: 0 auto; color: #a3a4a5; font-size: 14px; font-family: "Nexa-Light", Arial, sans-serif; }
.about__in img { width: 100%; height: 100%; display: block; margin: 20px auto 0; }
@media only screen and (max-width: 600px) { .about__in { padding-top: 25.5%; } }
.about__ttl { text-transform: uppercase; text-align: center; font-size: 48px; }
@media only screen and (max-width: 600px) { .about__ttl { font-size: 40px; } }
.about__txt { margin-top: 40px; padding: 0 15px; -webkit-column-count: 2; -moz-column-count: 2; -moz-column-gap: 30px; -webkit-column-gap: 30px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; *zoom: 1; }
.about__txt:after { content: " "; display: table; clear: both; }
@media only screen and (max-width: 600px) { .about__txt { padding: 0 20px; -webkit-column-count: 1; -moz-column-count: 1; } }

.development { width: 100%; max-width: 1282px; margin: 0 auto; padding-top: 330px; text-align: center; }
.development img { width: 100%; max-width: 650px; }
@media only screen and (max-width: 1336px) { .development { padding-top: 25%; } }
.development__ttl { text-transform: uppercase; color: #cccccc; font-size: 39px; font-family: "Nexa-Bold", Arial, sans-serif; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
@media only screen and (max-width: 600px) { .development__ttl { padding: 0 5px; font-size: 35px; } }
.development__subttl { text-transform: uppercase; color: #676767; font-size: 30px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; font-family: "Nexa-Light", Arial, sans-serif; }
@media only screen and (max-width: 600px) { .development__subttl { padding: 0 5px; font-size: 26px; } }
.development__set { margin-top: 30px; text-align: justify; }
.development__set:after { content: ""; width: 100%; display: inline-block; }
@media only screen and (max-width: 1336px) { .development__set { text-align: center; } }
.development .set__item { display: inline-block; max-width: 200px; margin-bottom: 30px; text-transform: uppercase; text-align: center; color: #3c3c3c; font-size: 18px; font-family: "Nexa-Bold", Arial, sans-serif; }
.development .set__item i { display: block; margin: 0 auto 15px; cursor: pointer; }
.development .set__item .icon1 { background: url('../img/icons-s95703a8fd6.png') 0 -411px no-repeat; width: 163px; height: 163px; }
.development .set__item .icon1:active { background: url('../img/icons-s95703a8fd6.png') 0 -584px no-repeat; width: 163px; height: 163px; }
.development .set__item .icon2 { background: url('../img/icons-s95703a8fd6.png') 0 -757px no-repeat; width: 164px; height: 163px; }
.development .set__item .icon2:active { background: url('../img/icons-s95703a8fd6.png') 0 -930px no-repeat; width: 164px; height: 163px; }
.development .set__item .icon3 { background: url('../img/icons-s95703a8fd6.png') 0 -1103px no-repeat; width: 164px; height: 163px; }
.development .set__item .icon3:active { background: url('../img/icons-s95703a8fd6.png') 0 -1276px no-repeat; width: 164px; height: 163px; }
.development .set__item .icon4 { background: url('../img/icons-s95703a8fd6.png') 0 -1449px no-repeat; width: 163px; height: 163px; }
.development .set__item .icon4:active { background: url('../img/icons-s95703a8fd6.png') 0 -1622px no-repeat; width: 163px; height: 163px; }
.development .set__item .icon5 { background: url('../img/icons-s95703a8fd6.png') 0 -1795px no-repeat; width: 164px; height: 163px; }
.development .set__item .icon5:active { background: url('../img/icons-s95703a8fd6.png') 0 -1968px no-repeat; width: 164px; height: 163px; }
@media only screen and (max-width: 1336px) { .development .set__item { margin: 0 2% 30px; } }

.slots { width: 100%; max-width: 920px; margin: 70px auto 0; text-align: center; }
.slots img { width: 100%; max-width: 648px; }
.slots__ttl { text-transform: uppercase; color: #cccccc; font-size: 39px; font-family: "Nexa-Bold", Arial, sans-serif; }
.slots__set { margin-top: 45px; text-align: justify; }
.slots__set:after { content: ""; width: 100%; display: inline-block; }
@media only screen and (max-width: 1024px) { .slots__set { text-align: center; } }
.slots .set__item { display: inline-block; width: 280px; margin-bottom: 40px; border: 1px solid #e4e4e4; -moz-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5); -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5); box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5); -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
@media only screen and (max-width: 1024px) { .slots .set__item { margin: 0 2% 40px; } }
.slots .set__img { position: relative; height: 200px; }
.slots .btn { position: absolute; display: block; right: 20px; bottom: 14px; }
.slots .set__txt { padding: 0 0 25px 25px; text-align: left; color: #444444; font-size: 20px; font-family: "Nexa-Light", Arial, sans-serif; }
.slots .is-small { color: #c7c7c7; font-size: 11px; }

.contact { width: 100%; max-width: 920px; margin: 180px auto 30px; text-align: center; }
@media only screen and (max-width: 1024px) { .contact { margin-top: 15%; } }
.contact__ttl { font-size: 48px; text-transform: uppercase; color: #cccccc; font-size: 39px; font-family: "Nexa-Bold", Arial, sans-serif; }
@media only screen and (max-width: 600px) { .contact__ttl { font-size: 40px; } }
.contact__in { margin-top: 95px; }
.contact__in form { text-align: justify; }
.contact__in form:after { content: ""; width: 100%; display: inline-block; }
@media only screen and (max-width: 1024px) { .contact__in { margin-top: 50px; }
  .contact__in form { text-align: center; } }
.contact .textarea { display: inline-block; width: 275px; height: 225px; padding: 17px 12px; background-color: #e8e8e8; resize: none; font-size: 18px; -moz-box-shadow: 1px 1px 1px white, inset 1px 1px 4px rgba(19, 19, 19, 0.15); -webkit-box-shadow: 1px 1px 1px white, inset 1px 1px 4px rgba(19, 19, 19, 0.15); box-shadow: 1px 1px 1px white, inset 1px 1px 4px rgba(19, 19, 19, 0.15); background-image: -moz-linear-gradient(#dddddd, #e8e8e8); background-image: -webkit-linear-gradient(#dddddd, #e8e8e8); background-image: linear-gradient(#dddddd, #e8e8e8); -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; font-family: "Nexa-Light", Arial, sans-serif; }
.contact .textarea:-moz-placeholder, .contact .textarea::-moz-placeholder { color: #5e5e5e; opacity: 1; }
.contact .textarea::-webkit-input-placeholder { color: #5e5e5e; }
@media only screen and (max-width: 1024px) { .contact .textarea { margin: 0 1%; } }
@media only screen and (max-width: 600px) { .contact .textarea { margin-bottom: 20px; } }
.contact .input { display: inline-block; width: 275px; text-align: center; vertical-align: top; }
.contact .input input { display: block; width: 100%; height: 48px; margin-bottom: 10px; padding: 0 7px; background-color: #e8e8e8; font-size: 18px; -moz-box-shadow: 1px 1px 1px white, inset 1px 1px 4px rgba(19, 19, 19, 0.15); -webkit-box-shadow: 1px 1px 1px white, inset 1px 1px 4px rgba(19, 19, 19, 0.15); box-shadow: 1px 1px 1px white, inset 1px 1px 4px rgba(19, 19, 19, 0.15); background-image: -moz-linear-gradient(#dedede, #e7e7e7); background-image: -webkit-linear-gradient(#dedede, #e7e7e7); background-image: linear-gradient(#dedede, #e7e7e7); -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; font-family: "Nexa-Light", Arial, sans-serif; }
.contact .input input:-moz-placeholder, .contact .input input::-moz-placeholder { color: #5e5e5e; opacity: 1; }
.contact .input input::-webkit-input-placeholder { color: #5e5e5e; }
@media only screen and (max-width: 1024px) { .contact .input { margin: 0 1%; } }
.contact .info { display: inline-block; padding-top: 67px; vertical-align: top; color: #1e1e1e; font-size: 18px; font-family: "Nexa-Light", Arial, sans-serif; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.contact .info p { margin-bottom: 20px; }
.contact .info i { display: inline-block; margin-right: 10px; vertical-align: middle; }
.contact .info a { display: inline-block; padding-top: 12px; vertical-align: middle; color: #1e1e1e; }
.contact .info .ico_call { background: url('../img/icons-s95703a8fd6.png') 0 -333px no-repeat; width: 39px; height: 38px; }
.contact .info .ico_mail { background: url('../img/icons-s95703a8fd6.png') 0 -2277px no-repeat; width: 38px; height: 37px; }
@media only screen and (max-width: 1024px) { .contact .info { margin: 0 1%; } }
@media only screen and (max-width: 600px) { .contact .info { padding-top: 50px; } }
.contact .btn { margin-top: 5px; }
.contact .btn span:first-child { padding: 0 8px 0 2px; }
.contact .btn i { background: none; }
.contact .btn i:after { display: none; }
.contact .btn .fa.fa-paper-plane { font-size: 20px; vertical-align: middle; color: white; }

.footer { width: 100%; max-width: 1920px; height: 498px; margin: 0 auto; background: url(../img/footer-bg.jpg) center center no-repeat; }
.footer__in { width: 100%; max-width: 920px; padding-top: 210px; margin: 0 auto; color: white; text-align: center; font-size: 17px; font-family: "Nexa-Light", Arial, sans-serif; }
.footer__menu { margin-top: 12px; }
.footer__menu li { display: inline-block; }
.footer__menu li:first-child a:before { display: none; }
.footer__menu a { position: relative; padding: 0 25px 0 23px; text-transform: uppercase; color: white; font-size: 14px; }
.footer__menu a:before { content: "/"; position: absolute; top: 0; left: -3px; }
@media only screen and (max-width: 830px) { .footer__menu { margin-top: 20px; }
  .footer__menu li { display: block; }
  .footer__menu li a { margin-bottom: 15px; }
  .footer__menu li a:before { display: none; } }
